<!--The whole content below can be removed with the new code.-->

<div style="text-align:center">
    <h1>
        Bienvenu à l'US DOLE !!
    </h1>
    <img id="imglogo" src="../assets/img/newlogo.png" />
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div id="box">
                <div id="scort">
                    <h3 class="scor"> Match </h3>

                    <div id="scorv">
                        <p id="scorapp"> US Dole -- / Visiteur --</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="calandar">
    <div id="cal">

        <h3>Le calndrier</h3>





    </div>
</div>



<div id="part">

    <div id="pm">

        <h4>Le partenaire du match</h4>
        <div id="imgp">
            <img id="imgpart" src="../assets/partenaire/czcbailly-maitre.png" alt="img partenaire">
        </div>
    </div>

</div>

<div class="container">

    <div class="row">

        <div id="equ" class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">

            <button><a class="a" target="_blank" href="#">Les équipes</a></button>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div id="gaz" class="col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">

            <button><a class="a" target="_blank" href="#">La gazette</a></button>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div id="bou" class="col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3  col-lg-offset-1 col-lg-3">

            <button><a class="a" target="_blank" href="#">La Boutique</a></button>

        </div>

    </div>

</div>